<h2>Show Plan</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @plan.name %>
  </li>

  <li>
    <strong>Stripe:</strong>
    <%= @plan.stripe_id %>
  </li>

  <li>
    <strong>Price:</strong>
    <%= @plan.price %>
  </li>

  <li>
    <strong>Interval:</strong>
    <%= @plan.interval %>
  </li>

  <li>
    <strong>Visible:</strong>
    <%= @plan.visible %>
  </li>

</ul>

<span><%= link "Back", to: adminplan_path(@conn, :index) %></span>
